
/* ID */
body{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;


}
h3{
  color: #08d9d6;
  margin: 10px 5px;
  text-align: left;
}
p{
  text-align: left;
  color:#393e46;
}
hr{
  width: 70%;
}
h4{
  font-weight:bold ;
  margin: 30px auto 10px;

}
/* CLASS */
.jumbo{
position: relative;
background-image: url("background.jpg");
margin: 0;
padding: 0;
background-repeat: no-repeat;
background-size: cover;

}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .6;
  z-index: 2;
  background-color: #08d9d6;
}
.name{
  font-size: 50px;
  font-weight: 700;
  color: white;
  font-family: 'Volkhov', serif;
  margin:0 auto;
  width:100%;


}

.myimg-bg{
  width:100%;
  height:46.87rem;
  opacity: .4;
  color: #71c9ce;

}
.container{
  position: relative;
  top:28%;
  z-index: 4;
  text-align: center;
}
.lead{
  font-size: 2rem;
  padding-top: 20px;
  text-align: center;
}

/* Navbar */
.navbar{
  width:100%;
  margin:0 auto;


}
.nav-item{
  padding: 0 10px;
  margin: 0;
  border-width: 2px;
  font-weight: 500;
}

.resumeurl{
  color: white;
  font-size: 2rem;
}
.resumeurl:hover{
  color: black;

}

/* Profile  */
.active{
  background-color: #08d9d6;
  color: #fff;
  font-weight: 700;

}
.lead{
  color: #727878;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin-bottom: 100px;

}
.border{
  border-style: none !important;
}
.mainhead{
  color:#08d9d6;
  font-size: 40px;
  padding-top: 100px;
  font-weight: 300;
  font-style: normal;
}
.tophr{
  width: 20%;
border-style: none  none dotted none;
border-color: #c9d6df;
border-width: 3px;
margin-bottom: 80px;
}

.profileimg{
  border-style: solid;
  border-width: 8px;
  border-color: #f6f7d7;
  border-radius: 50%;
  height:auto;
  width: 100%;
}

/*Experience  */
.exp{
  background-color: #f6f7d7;
  width:100%;
}
.education-header{

font-weight: 200;
margin-bottom: 10px;
}

.experience-period{
  text-align: center;
}

.expdeg{
  margin:10px auto;
}

.no-bullets{
  margin:0;
  padding:0;
  list-style-type: none;
  float: left;
  width: 100%;
}
.container{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

}
@media (max-width: 767px){
.container {
  padding: 60px 20px;
min-width: 280px;
}
}

/* Skills */
.material-icons{
  font-size: 20px;

}
.material-icon-bw{
  color:#08d9d6;
}

.ability-title{
  display: inline-block;
  float: left;
  padding-left: auto;

}
.ability-score{
  float:right;

}
.no-bullets{
  margin: 0;
  padding: 0;
}
.ability{
  margin-left: 20%;
}
.interest-description{
  padding-left: 2.5rem;
}

/* contact */
.conthead{
color: white;
font-size: 4rem;
padding-top: 100px;
font-weight: 300;
font-style: normal;
}
.background-grey{
  background-color: #434242;
}

.contacts-logo{
  height: 40px;
  width: 40px;
  border-radius: 10%;
  margin-right: 10px;

}

.contact-link{
  color: #787272;
  text-decoration: none;
  font-size: 30px;
}
.contact-link:hover{
  color: white;
  text-decoration: underline;
}


/*carausel image css*/

.carousel-image{
  border: 2px;
  border-style: solid;
  border-color: black;

}

.caro-item{
  background-color: white;
}




#abilities ul > li{margin:20px auto;}
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li:hover .ability-score .material-icons { margin-left: 3px;  font-size: 24px;}
#abilities ul > li {
    min-height: 30px;
    padding: 3px 0;
}
